.menu_button_primary{
    margin: 10px;
    background-color: rgb(181, 184, 197);
    border-radius: 10px;
    border: 1px solid black;

    text-align: center;
    line-height: 50px;
    color: black;
    min-width: 250px;
    min-height: 50px;
    transition: all 0.25s;
}
.menu_button_primary:hover{
    background-color: rgb(155, 157, 167);
}
.menu_button_primary:active{
    background-color: rgb(100, 102, 107);
    transform: translate( 2px, 2px);   
}

.input_text{
    margin: 0 10px;
    border-radius: 5px;
}