.menu_button_primary{
    margin: 10px;
    background-color: rgb(181, 184, 197);
    border-radius: 10px;
    border: 1px solid black;

    text-align: center;
    line-height: 50px;
    color: black;
    min-width: 250px;
    min-height: 50px;
}


.input_text{
    margin: 0 10px;
    border-radius: 5px;
}